<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="secret letter"> <!-- для поисковика -->
    <title>Secret</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
</head>

<body>
    <main class="view_analysis_api">
        <strong class="name">{{message}}</strong>
        <strong class="loading" id="status">{{loading_message}}</strong>
        <form method="post" action="/view_analysis_api" class="postlink">
            <label>Введите ссылку</label>
            <input type="url" class="inputurl" name="buttonurl">
            <input type="submit" class="buttonurl">
        </form>
        <form class="list" id="download-list" action="/view_analysis_api/link">
            <button type="submit">Скачать список ссылок</button>
        </form>
        <form class="filehtml" action="/view_analysis_api/html">
            <button type="submit">Скачать html файлы</button>
        </form>
        <form class="filejs" action="/view_analysis_api/js">
            <button type="submit">Скачать js файлы</button>
        </form>
        <form class="allfiles" id="download-all-files">
            <button type="submit">Скачать все файлы</button>
        </form>
        <form class="AIgenerate" action="/view_analysis_api/generate/analysis">
            <button type="submit">Проанализировать файл (Ai)</button>
        </form>
        <form class="copy">
            <button onclick="copyCode()">Копировать</button>
        </form>
        <select class="listfile" id="fileList" name="buttonurl" size="16">
            <option disabled>Загрузка...</option>
        </select>
        <pre id="copy" class="viewcode"><code>{{fileMessage}}</code></pre>
    </main>

    <script src="{{ url_for('static', filename='copycode.js') }}"> </script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="{{ url_for('static', filename='viewfile.js') }}"></script>
    <script scr="{{ url_for('static', filename='updatecode.js') }}"></script>
    <script src="{{ url_for('static', filename='check_file.js') }}"></script>
    <script src="{{ url_for('static', filename='check_all_file.js') }}"></script>
</body>

</html>